* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
header {
    text-align: center;
    padding: 20rem;
    background-image: url("/img/600$\ pc.jpeg");
    background-position: center;
    background-size: cover;
    color: purple;
    min-height: 10vh;
}  
nav {
  background-color: rgb(128, 128, 128);
  color: white;
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
}
nav h3 {
  display: flex;
  flex: 1 1 30rem;
}
nav ul {
 display: flex;
 flex: 1 1 10rem;
 justify-content: space-around;
}
nav li {
  display: flex;
  flex: 1 1 20rem;
}
h1,p {
  background-color: rebeccapurple;
  padding: 2rem;
}